<p style="color: green"><%= notice %></p>

<h1>Consoles</h1>

<div id="consoles" class="" >
<%= link_to "New console", new_console_path %>
  <% @consoles.each do |console| %>
    <%= render console %>
  
  <% end %>
</div>


