<div class="homepage ">  
 
  
  
    <div class="text-center mt-5 pt-5">
    <h1>Joe's Best Five</h1>
       <% @top.each do |t| %> 


  
         <p><%= "#{t.name}" %></p>
          <%end%>
    </div>
  
     
</div>
  

 