<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games" class="flex font">
<%= link_to "New game", new_game_path %>

  <% @games.each do |game| %>
  
    <%= render game%>
    
  <% end %>
</div>

